<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css?what">
    <title>Pytobs</title>
  </head>
  <body>
    <div class="title__search">
      <h1>
        you search: {{search}}
      </h1>
      <div class="title__back">
        <h3>
          <a href="/"> &lt; Go Back</a>
        </h3>
      </div>
    </div>
    <div class="subtitle__total">
      <h4>
        StackOverFlow: {{db_count[0]}},
        WeWorkRemotely: {{db_count[1]}},
        RemoteOK: {{db_count[2]}}</h4>
    </div>
    <div class="div__export">
      <h3 class="h3__total">total jobs: {{db_total}}</h3>
      <a class="button__export" href="/export?search={{search}}">Click to Export</a>
    </div>
    <div class="table__container">
      <table class="table__jobs">
        <thead>
          <tr>
            <td class="thead">Title</td>
            <td class="thead">Company</td>
            <td class="thead">Location</td>
            <td class="thead">site</td>
            <td class="thead">Link</td>
          </tr>
        </thead>
        {% for job in db_result %}
        <tr>
          <td>{{job.title}}</td>
          <td>{{job.company}}</td>
          <td>{{job.location}}</td>
          <td>{{job.site}}</td>
          <td><a href="{{job.link}}">Apply</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
